.flash {
  .alert {
    p {
      border-left: 0.5rem solid govuk-colour("red");
      padding-left: 1rem;
    }
  }

  code {
    background: govuk-colour("light-grey");
    padding: 0 govuk-spacing(1);
  }
}
