- unless flash.empty? or flash.each { |key| flash[:key].nil? }
  .flash
    .govuk-width-container
      .govuk-grid-row
        .govuk-grid-column-two-thirds
          - flash[:errors][:widgets].each do |widget, error|
            .errors
              = render(partial: "watchdog/errors/#{error}", locals: { widget: widget })
