= javascript_include_tag 'watchdog_manifest'

= render 'watchdog/flash'

- if @widgets.empty?
  .govuk-width-container
    .govuk-grid-row
      .govuk-grid-column-two-thirds
        %p.govuk-body-l
          No widgets could be rendered. See the
          %code README
          file in the Watchdog source folder for setup instructions.

.grid
  = render partial: 'watchdog/widgets/widget', collection: @widgets
