= javascript_include_tag 'watchdog_manifest'

= render 'watchdog/flash'

%h1.govuk-heading-xl This is Watchdog

%pre= @widgets

.grid
  = render partial: 'watchdog/widgets/widget', collection: @widgets
