%p.govuk-body
  The widget
  %code= widget.id
  belongs to
  %code= widget.group
  \, which maps to a
  %code= widget_controller_name(widget.group)
  \. No such controller could be found. Please ensure you have defined it.
